<h2>Which browser has the fastest Javascript engine?</h2>

<p>The latest generation of browsers represents a huge improvement in Javascript performance. The chart below shows how big the improvement is over older generation browsers. The chart shows the time taken for the prime finding program to complete in several different browsers installed on my system. </p>

<img src="/images/browserSpeedComparison2.jpg" alt="Bar chart">

<p>In my tests Chrome is consistently the fastest. Explorer 9 and Safari 4 are about a third slower than Chrome, with Safari tending to be a little faster. In my opinion, these differences are not that big a deal. However, the more than ten fold improvement over Firefox 3.6 and Explorer 8 provides a compelling reason to upgrade.</p>
