
<br><br>
<h2>How it works</h2>
<p>This site tests the speed of of your system by running a small program written in Javascript. It will work on anything from a modern desktop to an IPod. Javascript is a common web programming language which is used on most websites. This code runs automatically when you access the "Test Speed" page. It should complete in less than 5 seconds. 
</p>
<p>The code measures the time it takes the system to find every prime number less than 20,000. It provides an indication of the computer's speed at tasks which involve lots of arithmetic.</p>

<p>The time taken depends on both the speed of the computer and the speed of the Javascript engine in the browser being used. As of 2011, Google Chrome is the fastest browser, with Internet Explorer 9 and Safari being a little slower. Older generation browsers, like Firefox 3 or Internet Explorer 8 are MUCH slower. Find more on browser comparisons under the "Browsers Compared" tab.</p>

<p>Please take the time to fill out the form on the "Test Speed" page. This will enter your computer into the database. The "Ranking" tab allows you to see other people's results. I hope over time to build up a picture of how different phones, tablets, laptops and desktops compare.</p>

<h2>Is your computer faster than mine?</h2>

<p>I have a desktop I built 2 years ago, a 4 year old laptop and an IPod Touch. The desktop is three times as fast as the laptop, and is 63 times faster than my IPod Touch. My desktop takes about 60 milliseconds to complete the task. The desktop doesn't have a very high end processor and I'm sure many out there can beat it. </p>

<h2>Which computer language is best?</h2>
<p>I started this project because I was interested in the speed differences between different languages. I first wrote the program in Java, and then ported the algorithm to Javascript, PHP and Ruby. Click the "Languages Compared" tab to see the source code in 4 different languages, and read my opinions on the strengths and weaknesses of each one.</p>

